<nav>
  <div class="nav-wrapper teal lighten-1">
    <a href="#" class="brand-logo right" >Caixa Eletronico Web</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a routerLink="/sacaraction">Sacar</a></li>
      <li><a routerLink="/saldo">Saldo</a></li>
    </ul>
  </div>
</nav>
<div style="
padding-left: 470px;
padding-top: 200px;
">
<h6 class="center1">Realize sua transação</h6>
<form [formGroup]="loginForm" >
<div class="row-3 center1" >
  <div  class="input-field col s6 center1">
    <input formControlName="inputValor" id="valor" type="number" min="0" class="validate center1" style="
    width: 335px">
    <label class="active center1" for="valor">Valor depositado</label>
    <h6 >Valor mínimo para depositar: R$10,00 e Valor máximo: R$5.000,00</h6>
    <a (click)="Depositar()"id="btnDepositar" class="waves-effect waves-light btn-small">Depositar</a>
  </div>
</div>
</form>
</div>