<p *ngIf="Validar">ERRO: {{this.data.data.Codigo}}  VALOR PARA SAQUE INVALIDO! CAIXA OPERA APENAS COM NOTAS DE R$10, R$20, R$50, R$100.</p>

<div *ngIf="!Validar">
<p >SAQUE REALIZADO COM SUCESSO.</p>

<mat-dialog-content>
  <p class="h6">VALOR SACADO: R$ {{operacao.ValorSacar}}. </p>
  <p class="h6">NOTAS UTILIZADAS: R$100 : {{novoArray[0]}}, R$50 :
    {{novoArray[1]}},
     R$20 : {{novoArray[2]}}, R$10 : {{novoArray[3]}}.
  </p> 
  <p class="h5">SALDO ATUAL: R${{valorFormatado}}.</p>
</mat-dialog-content>
</div>
<mat-dialog-actions>
    <a mat-list-item (click)="close();" id="btnDepositar" class="waves-effect waves-light btn-small "> FECHAR</a>
</mat-dialog-actions>
