<p>SAQUE REALIZADO COM SUCESSO.</p>

<mat-dialog-content>
  <p class="h6">VALOR SACADO: R$ {{operacao.ValorSacar}}. </p>
  <p class="h6">NOTAS UTILIZADAS: R$100 : {{novoArray[0]}}, R$50 :
    {{novoArray[1]}},
     R$20 : {{novoArray[2]}}, R$10 : {{novoArray[3]}}.
  </p> 
  <p class="h5">SALDO ATUAL: R${{operacao.SaldoAtual}}.</p>
</mat-dialog-content>

<mat-dialog-actions>
    <a mat-list-item (click)="close();" id="btnDepositar" class="waves-effect waves-light btn-small "> FECHAR</a>
</mat-dialog-actions>
