<h6 class="center1">Realize sua transação</h6>
<form [formGroup]="loginForm">
<div class="row-3 center1" >
  <div  class="input-field col s6 center1">
    <input formControlName="inputValor" id="valor" type="number" class="validate center1" style="
    width: 335px">
    <label class="active center1" for="valor">Valor solicitado</label>
    <h6 >Valor mínimo para sacar: R$10,00 e Valor máximo: R$2.000,00</h6>
    <a (click)="Sacar()"id="btnSacar" class="waves-effect waves-light btn-small" style="
    padding-right: 16px;
    left: auto;
    right: 12px;">Sacar</a>
    <a mat-list-item (click)="Depositar();" id="btnDepositar" class="waves-effect waves-light btn-small " style="
    padding-right: 16px;
    left: auto;
    right: 6px;"> Depositar</a>
    <a mat-list-item (click)="Saldo();" id="btnDepositar" class="waves-effect waves-light btn-small "> Saldo</a>
  </div>
</div>
</form>
            