<h6 class="center1">Realize sua transação</h6>

<div class="row-3 center1" >
  <div  class="input-field col s6 center1">
    <input id="valor" type="number" class="validate center1" style="
    width: 335px">
    <label class="active center1" for="valor">Valor solicitado</label>
    <h6 >Valor mínimo para sacer: R$10,00 e Valor máximo: R$2.000,00</h6>
    <a class="waves-effect waves-light btn-small" style="
    padding-right: 16px;
    left: auto;
    right: 6px;">Sacar</a>
    <a class="waves-effect waves-light btn-small "> Depositar</a>
  </div>
</div>
